.slider1 {
  background-image: url("../../../../src/assests/slider/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider2 {
  background-image: url("../../../../src/assests/slider/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .slider1 {
    background-image: url("../../../../src/assests/slider/slider1-mobile.jpg");
  }
  .slider2 {
    background-image: url("../../../../src/assests/slider/slider2-mobile.jpg");
  }
}
